#quizz-preview-container {
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(207, 0, 255);

    background: -moz-linear-gradient(
        90deg,
        rgba(207, 0, 255, 1) 0%,
        rgba(94, 9, 121, 1) 28%,
        rgba(3, 3, 191, 1) 70%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(207, 0, 255, 1) 0%,
        rgba(94, 9, 121, 1) 28%,
        rgba(3, 3, 191, 1) 70%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(207, 0, 255, 1) 0%,
        rgba(94, 9, 121, 1) 28%,
        rgba(3, 3, 191, 1) 70%,
        rgba(0, 212, 255, 1) 100%
    );
    &:hover {
        cursor: pointer;
    }

    #proposal-sender {
        display: flex;
        flex-direction: row;
        #pfp {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: black;
            margin-right: 15px;
        }
    }
    #quizz-description {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
