#top-bar-container{
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    right: 20px;
    top: 10px;
    z-index: 30;
}

#connected-wrapper{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
