#space-container{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    #actions-container{
        &> *{
            margin-bottom: 20px;
        }
        .space-actions{
            width: 50vw;
            border-radius: 0;
        }
        // #sp2{
        //     margin-top: 50px;
        // }
    }
}
