#home-wrapper{
    width: 100vw;
    height: 100vw;
}

#search-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    & >* {
        margin: 0 10px;
    }
}

#space-previews-tab{
    display: flex;
    margin: 10vw 0 0 50px;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
        margin: 10px;
    }
}